  <br><br>
  <H2> Be creative! Be unique! Be yourself!</H2>
  <h4 id="how-to">    To play this game, simply fill out the boxes below with your creative and silly words!<br>
    Once you are done press submit and your words will fill in the blanks of a short story! </h4>
<div>
  <app-word-input *ngFor="let madlib of MadLibList" [madlib]="madlib">
  </app-word-input>

</div>

  <form>
  <div class="row">
    <div class="col">
      <label for="Adjective">Adjective: </label>
      <input id="Adjective" type="text" class="form-control" placeholder="Adjective">
    </div>
    <div class="col">
      <label for="Adverb">Adverb: </label>
      <input id="Adverb" type="text" class="form-control" placeholder="Adverb">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="Adjective2">Adjective: </label>
      <input id="Adjective2" type="text" class="form-control" placeholder="Adjective">
    </div>
    <div class="col">
      <label for="Adverb2">Adverb: </label>
      <input id="Adverb2" type="text" class="form-control" placeholder="Adverb">
    </div>
  </div>
</form>
